/*
    Estilos próprios para a aplicação "Descubra Seu Signo"
    Este arquivo é para complementar o Bootstrap.
*/

body {
    background-color: #f8f9fa; /* Um cinza claro para o fundo */
}

/* Garante que o container principal tenha um padding top/bottom */
main.container {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* Personalização do cartão principal */
.card {
    border: none; /* Remove a borda padrão do card */
    border-radius: 15px; /* Bordas mais arredondadas */
}

/* Sombra customizada para o cartão */
.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}

/* Estilo para a barra de navegação */
.navbar-brand h1 {
    font-size: 1.5rem;
    font-weight: 300;
}

/* Estilo para as datas de período */
.text-muted {
    font-style: italic;
}